:root {
  --background-color: #3A3042;
  --title-color: #FFE19C;
  --subtitle-color: #FFF6BB;
  --title-font: 'JejuGothic', sans-serif;
  --text-font: 'Instrument Sans', sans-serif;

  --button-color: #FFFFFF;
  --button-text-color: #000000;
  --surface-color: rgba(255, 246, 187, 0.06);
  --border-color: rgba(255, 246, 187, 0.15);

  --radius-small: 12px;
  --radius: 16px;

  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 32px;
  --spacing-xl: 64px;

  --response-blue: #3E82AC;
  --response-green: #3EAC45;
  --response-red: #AC3E40;
  --response-yellow: #ACA33E;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  background-color: var(--background-color);
}

body {
  margin: 0;
  font-family: var(--text-font)
}
